name: Version Bump

on:
  workflow_dispatch:
    inputs:
      version_type:
        description: Version bump type
        required: true
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  bump-version:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          
      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
      
      - name: Bump version
        run: npm version ${{ github.event.inputs.version_type }} -m "chore bump version to %s"
        
      - name: Push changes
        run: |
          git push
          git push --tags
